USE [master]
GO
/****** Object:  Database [CATALOGO_WEB_DB]    Script Date: 5/27/2026 1:40:00 PM ******/
CREATE DATABASE [CATALOGO_WEB_DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CATALOGO_WEB_DB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\CATALOGO_WEB_DB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CATALOGO_WEB_DB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\CATALOGO_WEB_DB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CATALOGO_WEB_DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CATALOGO_WEB_DB]
GO
/****** Object:  Table [dbo].[ARTICULOS]    Script Date: 5/27/2026 1:40:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ARTICULOS](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Codigo] [varchar](50) NULL,
	[Nombre] [varchar](50) NULL,
	[Descripcion] [varchar](150) NULL,
	[IdMarca] [int] NULL,
	[IdCategoria] [int] NULL,
	[ImagenUrl] [varchar](1000) NULL,
	[Precio] [money] NULL,
 CONSTRAINT [PK_ARTICULOS] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CATEGORIAS]    Script Date: 5/27/2026 1:40:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CATEGORIAS](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [varchar](50) NULL,
 CONSTRAINT [PK_CATEGORIAS] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FAVORITOS]    Script Date: 5/27/2026 1:40:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FAVORITOS](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdUser] [int] NOT NULL,
	[IdArticulo] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MARCAS]    Script Date: 5/27/2026 1:40:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MARCAS](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [varchar](50) NULL,
 CONSTRAINT [PK_MARCAS] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USERS]    Script Date: 5/27/2026 1:40:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USERS](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[email] [varchar](100) NOT NULL,
	[pass] [varchar](20) NOT NULL,
	[nombre] [varchar](50) NULL,
	[apellido] [varchar](50) NULL,
	[urlImagenPerfil] [varchar](500) NULL,
	[admin] [bit] NOT NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ARTICULOS] ON 

INSERT [dbo].[ARTICULOS] ([Id], [Codigo], [Nombre], [Descripcion], [IdMarca], [IdCategoria], [ImagenUrl], [Precio]) VALUES (37, N'TVSAM', N'Televisor Samsung', N'Televisor Samsung 65 Pulgadas 4K FULL HD con todos los chiches', 1, 2, N'Images/articulo-TVSAM.jpg', 600.0000)
INSERT [dbo].[ARTICULOS] ([Id], [Codigo], [Nombre], [Descripcion], [IdMarca], [IdCategoria], [ImagenUrl], [Precio]) VALUES (38, N'IP16PM', N'iPhone 16 PRO MAX', N'iPhone 16 PRO MAX 528gb', 2, 1, N'Images/articulo-IP16PM.jpg', 1500.0000)
INSERT [dbo].[ARTICULOS] ([Id], [Codigo], [Nombre], [Descripcion], [IdMarca], [IdCategoria], [ImagenUrl], [Precio]) VALUES (39, N'PS5', N'Play 5', N'Play 5 Digital', 3, 3, N'Images/articulo-PS5.jpg', 600.0000)
SET IDENTITY_INSERT [dbo].[ARTICULOS] OFF
GO
SET IDENTITY_INSERT [dbo].[CATEGORIAS] ON 

INSERT [dbo].[CATEGORIAS] ([Id], [Descripcion]) VALUES (1, N'Celulares')
INSERT [dbo].[CATEGORIAS] ([Id], [Descripcion]) VALUES (2, N'Televisores')
INSERT [dbo].[CATEGORIAS] ([Id], [Descripcion]) VALUES (3, N'Media')
SET IDENTITY_INSERT [dbo].[CATEGORIAS] OFF
GO
SET IDENTITY_INSERT [dbo].[FAVORITOS] ON 

INSERT [dbo].[FAVORITOS] ([Id], [IdUser], [IdArticulo]) VALUES (27, 2, 37)
INSERT [dbo].[FAVORITOS] ([Id], [IdUser], [IdArticulo]) VALUES (25, 2, 40)
INSERT [dbo].[FAVORITOS] ([Id], [IdUser], [IdArticulo]) VALUES (26, 2, 38)
SET IDENTITY_INSERT [dbo].[FAVORITOS] OFF
GO
SET IDENTITY_INSERT [dbo].[MARCAS] ON 

INSERT [dbo].[MARCAS] ([Id], [Descripcion]) VALUES (1, N'Samsung')
INSERT [dbo].[MARCAS] ([Id], [Descripcion]) VALUES (2, N'Apple')
INSERT [dbo].[MARCAS] ([Id], [Descripcion]) VALUES (3, N'Sony')
SET IDENTITY_INSERT [dbo].[MARCAS] OFF
GO
SET IDENTITY_INSERT [dbo].[USERS] ON 

INSERT [dbo].[USERS] ([Id], [email], [pass], [nombre], [apellido], [urlImagenPerfil], [admin]) VALUES (1, N'admin@admin.com', N'admin', NULL, NULL, NULL, 1)
INSERT [dbo].[USERS] ([Id], [email], [pass], [nombre], [apellido], [urlImagenPerfil], [admin]) VALUES (2, N'user@user.com', N'user', NULL, NULL, NULL, 0)
INSERT [dbo].[USERS] ([Id], [email], [pass], [nombre], [apellido], [urlImagenPerfil], [admin]) VALUES (3, N'prueba@prueba.com', N'123', NULL, NULL, NULL, 0)
SET IDENTITY_INSERT [dbo].[USERS] OFF
GO
ALTER TABLE [dbo].[USERS] ADD  DEFAULT ((0)) FOR [admin]
GO
/****** Object:  StoredProcedure [dbo].[AgregarArticuloSP]    Script Date: 5/27/2026 1:40:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AgregarArticuloSP]
    @codigo varchar(50),
    @nombre varchar(50),
    @descripcion varchar(150),
    @idMarca int,
    @idCategoria int,
    @imagenUrl varchar(1000),
    @precio money
AS
BEGIN
    INSERT INTO ARTICULOS (Codigo, Nombre, Descripcion, IdMarca, IdCategoria, ImagenUrl, Precio)
    VALUES (@codigo, @nombre, @descripcion, @idMarca, @idCategoria, @imagenUrl, @precio)

    -- Nos devuelve el ID autogenerado por el IDENTITY(1,1)
    SELECT SCOPE_IDENTITY()
END
GO
/****** Object:  StoredProcedure [dbo].[AgregarFavoritoSP]    Script Date: 5/27/2026 1:40:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AgregarFavoritoSP]
    @IdUser INT,
    @IdArticulo INT
AS
BEGIN
    -- Validamos que el usuario no tenga ya este artículo en favoritos
    IF NOT EXISTS (SELECT 1 FROM FAVORITOS WHERE IdUser = @IdUser AND IdArticulo = @IdArticulo)
    BEGIN
        INSERT INTO FAVORITOS (IdUser, IdArticulo)
        VALUES (@IdUser, @IdArticulo)
    END
END
GO
/****** Object:  StoredProcedure [dbo].[EliminarArticuloSP]    Script Date: 5/27/2026 1:40:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[EliminarArticuloSP]
    @id int
AS
BEGIN
    DELETE FROM ARTICULOS WHERE Id = @id
END
GO
/****** Object:  StoredProcedure [dbo].[EliminarFavoritoSP]    Script Date: 5/27/2026 1:40:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[EliminarFavoritoSP]
    @IdUser INT,
    @IdArticulo INT
AS
BEGIN
    DELETE FROM FAVORITOS 
    WHERE IdUser = @IdUser AND IdArticulo = @IdArticulo
END
GO
/****** Object:  StoredProcedure [dbo].[FiltrarArticulosSP]    Script Date: 5/27/2026 1:40:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[FiltrarArticulosSP]
    @busqueda varchar(50)
AS
BEGIN
    SELECT 
        A.Id, A.Codigo, A.Nombre, A.Descripcion, A.ImagenUrl, A.Precio,
        M.Descripcion as Marca, 
        C.Descripcion as Categoria,
        A.IdMarca, A.IdCategoria
    FROM ARTICULOS A
    INNER JOIN MARCAS M ON M.Id = A.IdMarca
    INNER JOIN CATEGORIAS C ON C.Id = A.IdCategoria
    WHERE 
        A.Nombre LIKE '%' + @busqueda + '%' 
        OR A.Descripcion LIKE '%' + @busqueda + '%' 
        OR C.Descripcion LIKE '%' + @busqueda + '%'
END
GO
/****** Object:  StoredProcedure [dbo].[ListarArticulosSP]    Script Date: 5/27/2026 1:40:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ListarArticulosSP]
AS
BEGIN
    SELECT 
        A.Id, 
        A.Codigo, 
        A.Nombre, 
        A.Descripcion, 
        A.ImagenUrl, 
        A.Precio,
        M.Descripcion as Marca, 
        C.Descripcion as Categoria,
        A.IdMarca, 
        A.IdCategoria
    FROM ARTICULOS A
    INNER JOIN MARCAS M ON M.Id = A.IdMarca
    INNER JOIN CATEGORIAS C ON C.Id = A.IdCategoria
END
GO
/****** Object:  StoredProcedure [dbo].[ListarFavoritosSP]    Script Date: 5/27/2026 1:40:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ListarFavoritosSP]
    @IdUser INT
AS
BEGIN
    SELECT 
        A.Id, 
        A.Codigo, 
        A.Nombre, 
        A.Descripcion, 
        A.ImagenUrl, 
        A.Precio, 
        M.Id AS IdMarca, 
        M.Descripcion AS Marca, 
        C.Id AS IdCategoria, 
        C.Descripcion AS Categoria 
    FROM ARTICULOS A
    INNER JOIN MARCAS M ON A.IdMarca = M.Id
    INNER JOIN CATEGORIAS C ON A.IdCategoria = C.Id
    INNER JOIN FAVORITOS F ON A.Id = F.IdArticulo
    WHERE F.IdUser = @IdUser
END
GO
/****** Object:  StoredProcedure [dbo].[LoginUsuarioSP]    Script Date: 5/27/2026 1:40:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[LoginUsuarioSP]
    @email varchar(100),
    @pass varchar(20)
AS
BEGIN
    SELECT 
        id, 
        email, 
        pass, 
        nombre, 
        apellido, 
        urlImagenPerfil, -- La agregamos para tenerla en la sesión
        admin 
    FROM USERS 
    WHERE email = @email AND pass = @pass
END
GO
/****** Object:  StoredProcedure [dbo].[ModificarArticuloSP]    Script Date: 5/27/2026 1:40:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ModificarArticuloSP]
    @id int,
    @codigo varchar(50),
    @nombre varchar(50),
    @descripcion varchar(150),
    @idMarca int,
    @idCategoria int,
    @imagenUrl varchar(1000),
    @precio money
AS
BEGIN
    UPDATE ARTICULOS 
    SET 
        Codigo = @codigo,
        Nombre = @nombre,
        Descripcion = @descripcion,
        IdMarca = @idMarca,
        IdCategoria = @idCategoria,
        ImagenUrl = @imagenUrl,
        Precio = @precio
    WHERE Id = @id
END
GO
/****** Object:  StoredProcedure [dbo].[RegistrarUsuarioSP]    Script Date: 5/27/2026 1:40:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RegistrarUsuarioSP]
    @email varchar(100),
    @pass varchar(20)
AS
BEGIN
    -- Insertamos solo email y pass, el resto queda en NULL 
    -- y el campo admin se pone en 0 por defecto.
    INSERT INTO USERS (email, pass, admin)
    VALUES (@email, @pass, 0)

    -- Esta línea es la que hace que ejecutarAccionScalar() 
    -- recupere el ID que se acaba de crear.
    SELECT SCOPE_IDENTITY()
END
GO
USE [master]
GO
